body {
	margin: 0px;
	padding: 0px;
}
article {
    position: relative;
	z-index: 8888;
	height: 100%;
	width: 100%;
	text-align: center;
}
#holder, #holder2 {
	border: 10px dashed #cccccc;
	width: 200px;
	height: 200px;
  	display: inline-block;
  	line-height: 200px;
  	text-align: center;
  	margin-right:15px;
  	text-align: left;
}
#holder.hover, #holder2.hover { 
	border: 10px dashed #333; 
}
article.text {
	width: 50%;
	margin: 0 auto;
}
textarea{
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: green;
	margin-top: 30px;
}